{% extends "base.html.twig" %}

{% block body %}

<div class="row">
<img src=>
<h2>{{ country.name }}</h2><br>
<h2>{{ country.description }}</h2>
 <div class="col">
 <img>{{country.poster}} </img>

</div>

 {% endblock %} 