<nav class="navbar navbar-light" style="background: rgb(174,238,232);
background: radial-gradient(circle, rgba(174,238,232,1) 0%, rgba(217,204,181,1) 39%, rgba(150,240,234,1) 100%);">
  <a class="navbar-brand" href="{{url('homepage.index')}}"> Tomahawk <strong> BNB </strong></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{{url('homepage.index')}}" style="color:black;">Home <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url('country.countrys')}}" style="color:black;">country</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url('admin.homepage.index')}}" style="color:black;">Admin</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" style="color:black;">Disabled</a>
      </li>
    </ul>
  </div>
</nav>