<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}VOYAGE VOYAGE!{% endblock %}</title>
        

         {% block stylesheets %} {% endblock %}


         <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
          <link rel="stylesheet" href="/css/surcouche.css"/>

         <script src="{{ asset('js/bootstrap.bundle.min.js') }}" defer></script>


  {% block javascripts %} {% endblock %}

  
        </head>
<body>


        {% include "_inc/nav.html.twig" %}
       
   <div class="container">


        {% block body %}
        

        
         {% endblock %}
     
      
    </body>
</html>


